.btn-beauty {
    background-color: rgb(28, 143, 24) !important;
    color: white;
}

.btn-beauty:hover {
    color: #fff;
    background-color: rgb(28, 143, 24) !important;
    border-color:rgb(28, 143, 24);
}

.btn-beauty:focus {
    box-shadow: 0 0 0 0.2rem rgba(122, 226, 145, 0.384);
}

p{
  font-size: 16px;
}
