<img src="assets/mm1.jpg" alt="banner" class="d-block w-100 mb-5" style="height: 300px;">


<section class="block">
  <h3 class="tui-text_h3 tui-space_bottom-4" style="text-align: center; margin: 13px 0 23px 0;">Услуги</h3>
  <div class="container">
    <div class="row" >
      <div class="col-sm-4" style="margin: 10px 0;">
        <img src="../../../../../assets/29.jpg" alt="альтернативный текст" style="width: 351px; height: 250px; margin: 10px 0;">
        <h4>Дизайнерский ремонт</h4>
        <p>Дизайнерский ремонт подразумевает капитальное изменение пространства в квартире, перепланировку, создание уникального стиля интерьера, проектирование отдельных зон в зависимости от пожелания заказчика.</p>
        <div class="row">
          <div class="col-xs-12 col-md-6">
          <p class="lead">
          от 1000 р за кв/м</p>
          </div>

        </div>
      </div>

      <div class="col-sm-4" style="margin: 10px 0;">
        <img src="../../../../../assets/1602834948_29-p-elitnii-dizain-interera-40.jpg" alt="альтернативный текст" style="width: 351px; height: 250px; margin: 10px 0;">
        <h4>Элитный ремонт</h4>
        <p>Дизайнерский ремонт подразумевает капитальное изменение пространства в квартире, перепланировку, создание уникального стиля интерьера, проектирование отдельных зон в зависимости от пожелания заказчика.</p>
        <div class="row">
          <div class="col-xs-12 col-md-6">
          <p class="lead">
          от 2000 р за кв/м</p>
          </div>

        </div>
      </div>

      <div class="col-sm-4" style="margin: 10px 0;">
        <img src="../../../../../assets/remontti-2.jpeg" alt="альтернативный текст" style="width: 351px; height: 250px; margin: 10px 0;">
        <h4>Косметический ремонт</h4>
        <p>Дизайнерский ремонт подразумевает капитальное изменение пространства в квартире, перепланировку, создание уникального стиля интерьера, проектирование отдельных зон в зависимости от пожелания заказчика.</p>
        <div class="row">
          <div class="col-xs-12 col-md-6">
          <p class="lead">
          от 890 р за кв/м</p>
          </div>>
        </div>
      </div>

    </div>
    <div class="row" >
      <div class="col-sm-4" style="margin: 10px 0;">
        <img src="../../../../../assets/1595509282jZm-m9Ru79.jpg" alt="альтернативный текст" style="width: 351px; height: 250px; margin: 10px 0;">
        <h4>Эконом ремонт</h4>
        <p>Дизайнерский ремонт подразумевает капитальное изменение пространства в квартире, перепланировку, создание уникального стиля интерьера, проектирование отдельных зон в зависимости от пожелания заказчика.</p>
        <div class="row">
          <div class="col-xs-12 col-md-6">
          <p class="lead">
          от 1000 р за кв/м</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4" style="margin: 10px 0;">
        <img src="../../../../../assets/2636633019.jpg" alt="альтернативный текст" style="width: 351px; height: 250px; margin: 10px 0;">
        <h4>Евроремонт</h4>
        <p>Дизайнерский ремонт подразумевает капитальное изменение пространства в квартире, перепланировку, создание уникального стиля интерьера, проектирование отдельных зон в зависимости от пожелания заказчика.</p>
        <div class="row">
          <div class="col-xs-12 col-md-6">
          <p class="lead">
          от 2000 р за кв/м</p>
          </div>

        </div>
      </div>

      <div class="col-sm-4" style="margin: 10px 0;">
        <img src="../../../../../assets/kap1.jpg" alt="альтернативный текст" style="width: 351px; height: 250px; margin: 10px 0;">
        <h4>Капитальный ремонт</h4>
        <p >Дизайнерский ремонт подразумевает капитальное изменение пространства в квартире, перепланировку, создание уникального стиля интерьера, проектирование отдельных зон в зависимости от пожелания заказчика.</p>
        <div class="row">
          <div class="col-xs-12 col-md-6">
          <p class="lead">
          от 890 р за кв/м</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>





<section class="block">
  <h3 class="tui-text_h3 tui-space_bottom-4" style="text-align: center; margin: 13px 0 43px 0;">О нас</h3>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="../../../../../assets/handyman.jpg" alt="альтернативный текст" style="width: 95%; height: 95%;">
      </div>

      <div class="col-lg-6">
        <p class="p-info">«Агентство по ремонту квартир» предлагает клиентам выполнить ремонтные работы любой сложности.
          Мы готовы взять на себя все заботы о вашем переезде в квартиру в новостройке или вторичном жилье – начиная
          от демонтажа и заканчивая заносом мебели.
          Мы профессионалы, поэтому знаем, как сделать ремонт быстро и качественно. Решая самостоятельно привести
          помещение в порядок, многие совершают роковую ошибку – тратят слишком много сил, денег и времени, а результат
          получают совсем не тот, на который рассчитывали. Если вы поручите работу специалистам нашей компании, избежите подобных неприятностей.</p>
          <p class="p-info">
            У нас в штате работают профессионалы, которые способны на высшем уровне выполнить ремонтные работы любой сложности.
            Контроль осуществляется прорабами с многолетним опытом работы.
            Доверив ремонт сотрудникам «Агентства по ремонту квартир», вы быстро получите качественный результат, который
            удовлетворит любого, даже самого взыскательного клиента. Доказательством этому служат 7 лет, которые мы успешно
            работаем в Москве и Московской области.
          </p>
        </div>

    </div>
  </div>
</section><br>

<section class="block">
  <h3 class="tui-text_h3 tui-space_bottom-4" style="text-align: center; margin: 13px 0 43px 0; ">Почему мы?</h3>
  <div class="container">
    <div class="row" >
      <div class="col-sm-2 text-center">
        <img src="../../../../../assets/trophy.png" alt="альтернативный текст" style="width: 70px; height: 70px; margin: 10px;">
        <p >Более 7 лет на рынке</p>

      </div>
      <div class="col-sm-2 text-center">
        <img src="../../../../../assets/positive-vote.png" alt="альтернативный текст" style="width: 70px; height: 70px; margin: 10px; ">
        <p >Профессиональные сотрудники</p>
      </div>
      <div class="col-sm-2 text-center">
        <img src="../../../../../assets/advantages.png" alt="альтернативный текст" style="width: 70px; height: 70px; margin: 10px;">
        <p >Короткие сроки</p>
      </div>
      <div class="col-sm-2 text-center">
        <img src="../../../../../assets/competitive.png" alt="альтернативный текст" style="width: 70px; height: 70px; margin: 10px; ">
        <p >Первое место на рынке</p>
      </div>
      <div class="col-sm-2 text-center">
        <img src="../../../../../assets/appreciation.png" alt="альтернативный текст" style="width: 70px; height: 70px; margin: 10px;">
        <p >Качественные материалы</p>
      </div>
      <div class="col-sm-2 text-center">
        <img src="../../../../../assets/thank-you.png" alt="альтернативный текст" style="width: 70px; height: 70px; margin: 10px; ">
        <p >1000 довольных клиентов</p>
      </div>
    </div>
  </div>
</section>

<div class="d-flex justify-content-center">
  <button [routerLink]="['/catalog']" type="button" class="btn btn-beauty btn-lg mt-3 mb-3">Перейти в каталог услуг</button>
</div>


<div class="container">
    <h3 class="center m-5" style="text-align: center;">У нас вы найдете самых лучших специалистов!</h3>
    <div class="card-deck">
        <div class="card">
          <img src="assets/specialist1.jpg" class="card-img-top" alt="specialist Ann">
          <div class="card-body">
            <h5 class="card-title">Екатерина Иванова</h5>
            <p class="card-text">Дизайнер интерьера</p>
            <p class="card-text text-muted">Опыт работы 5 лет</p>
          </div>
        </div>
        <div class="card">
          <img src="assets/specialist2.jpg" class="card-img-top" alt="specialist Maria">
          <div class="card-body">
            <h5 class="card-title">Дмитрий Безнощенко</h5>
            <p class="card-text">Электрик</p>
            <p class="card-text text-muted">Опыт работы более 10 лет</p>
          </div>
        </div>
        <div class="card">
          <img src="assets/specialist3.jpg" class="card-img-top" alt="specialist Olya">
          <div class="card-body">
            <h5 class="card-title">Даниил Картавенко</h5>
            <p class="card-text">Маляр</p>
            <p class="card-text text-muted">Опыт работы 4 года</p>
          </div>
        </div>
    </div>

    <h3 class="m-5" style="text-align: center;">Отзывы</h3>
    <div class="row justify-content-center">
      <div class="card mb-3 d-flex" style="max-width: 750px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="assets/1.jpg" class="card-img" alt="card image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Татьяна Онищенко</h5>
              <p class="card-text">Спасибо агенству за качественный ремонт! Особое спсибо хотела выразить дизайнеру, которая учла все наши пожелания!</p>
              <p class="card-text"><small class="text-muted">26.05.2021</small></p>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3 d-flex" style="max-width: 750px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="assets/2.jpg" class="card-img" alt="card image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Евгений Петров</h5>
            <p class="card-text">Лучшее агенство! Выполнила все в срок и без единого недочета. Советую!</p>
            <p class="card-text"><small class="text-muted">13.06.2021</small></p>
          </div>
        </div>
      </div>
  </div>
  <div class="card mb-3 d-flex" style="max-width: 750px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/3.jpg" class="card-img" alt="card image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Кристина Молчанова</h5>
          <p class="card-text">Очень вежливый персонал! Сотрудники сработали профессионально! Очень советую это агенство!</p>
          <p class="card-text"><small class="text-muted">17.06.2021</small></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<h4 class="m-5 d-flex justify-content-center">У Вас остались вопросы? Закажите обратный звонок, мы вам перезвоним в течении 5 минут!</h4>
<app-request></app-request>
