<div class="container mt-5">
  <div class="d-flex justify-content-center">
      <form [formGroup]="recordFrom" class="w-50 card-beauty">
          <h3 class="d-flex justify-content-center">Оформить услугу</h3>
          <h5>Выбранная услуга: {{service.id_service}}</h5>

          <div class="form-group">
            <label for="exampleInputPhone">Введите номер телефона:</label>
            <input (focus)="onSuccess()" class="form-control" formControlName="phone" id="exampleInputPhone" [textMask]="{mask: mask}" placeholder="(999) 999-99-99">
        </div>

          <div class="form-group">
            <label for="exampleInputPhone">Введите адрес:</label>
            <input (focus)="onSuccess()" formControlName="address" type="text" class="form-control mb-3"  id="exampleInputAddress" placeholder="г.Москва, ..">
          </div>

          <div class="form-group">
            <label for="exampleInputPhone">Введите площадь помещения:</label>
            <input (focus)="onSuccess()" formControlName="square" type="number" class="form-control mb-3" id="exampleInputSquare" placeholder="0" data-ng-model="square">
          </div>

          <div class="form-group">
            <label for="exampleInputPhone">Предварительная стоимость:</label>
            <p>{{Total()}}</p>
          </div>
          <div *ngIf="!isEmpty" class="alert alert-danger">
              <span class="field-required">Одно или несколько полей пустые!</span>
          </div>

          <div class="d-flex justify-content-center">
              <button (click)="onRecord()" type="submit" class="btn btn-beauty">Отправить</button>
          </div>
          <h5 *ngIf="succes" class="text-success d-flex justify-content-center">Оформлена услуга! Наш специалист свяжется в Вами в течении 15 минут!</h5>
      </form>
  </div>
</div>
